body{
    margin: 0;
    padding: 0;
}
.image{
    width: 50px;
    height: auto;
    border-radius: 25px;
}
.image:hover{
    transform: scale(1.5);
}
.list ul{
    background-color: #5366ff;
    height: auto;   
}
.list li a:hover{
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    
}
.list ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #000000;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.list ul li a{
    color: white;
}

.head{
    font-size: 40px;
    margin-top: 30px;
    text-decoration: underline;
}

.images img{
    width: 700px;
    height: auto;
    margin: 40px;
    border: 5px solid #5366ff;
    border-radius: 20px;
}
.mta:hover{    
    transform: scale(1.1);
}
.pythonm:hover{
    transform: scale(1.1);
}
.pygame:hover{
    transform: scale(1.1);
}
.c:hover{
    transform: scale(1.1);
}
.c1:hover{
    transform: scale(1.1);
}
.java:hover{
    transform: scale(1.1);
}
.pirple:hover{
    transform: scale(1.1);
}
.html:hover{
    transform: scale(1.1);
}

.footer{
    background-color: #5366ff;
    text-align: center;
    color: white;
}

.footer a{
    color:white;
}

.footer a:hover{
    color: black;
}
.social li a img{
    width: 30px;
    height: auto;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}
.social li a img:hover{
    transform: scale(1.5);
}

footer{
    background-color: #5366ff;
    margin-top: 30px;
}
.social{
    text-align: center;
    list-style:none;  
}
span ul li{
    display: inline-flex;
    margin: auto;
}
#thanks{
    font-size: 15px;
    color: white;
}
#mobile{
    font-size: 15px;
    color: white;    
}
#email{
    font-size: 15px;
    color: white;
}
footer div{
    text-align: center;
}

@media only screen and (max-width: 880px)
{
    .list ul{
        display: grid;
        text-align: center;
        padding-left: 0;
        margin-left: -21px;
    }
    .images img{
        width: 300px;
        height: auto;
        margin: 40px;
        border: 5px solid darkcyan;
        border-radius: 20px;
    }
}