body{
    margin: 0;
    padding: 0;
}
.list ul{
    background-color: #5366ff;
    height: auto;   
}
.list li a:hover{
    text-decoration: none;
    border-radius: 5px;
    color: black ;
    
}

.list ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
} 

.list ul li a{
    color: white;
}
.education p{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-weight: bold;
}
.academic ul{
    text-align: left;
    margin: 0 300px 0 300px;
}
.training p{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-weight: bold;
}
.lang ul{
    text-align: left;
    margin: 0 300px 0 300px;
}
.skill p{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-weight: bold;
}
.skill1 ul{
    text-align: left;
    margin: 0 300px 0 300px;
}
.inter p{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline ;
    font-weight: bold;
}
.per ul{
    text-align: left;
    margin: 0 300px 0 300px;
}
.footer{
    background-color: #5366ff;
    text-align: center;
    color: white;
}
.footer a{
    color:white;
}
.footer a:hover{
    color: black;
    border-radius: 20px;
}
.social li a img{
    width: 30px;
    height: auto;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}
.social li a img:hover{
    transform: scale(1.5);
}

footer{
    background-color: #5366ff;
    margin-top: 50px;
}
.social{
    text-align: center;
    list-style:none;  
}
span ul li{
    display: inline-flex;
    margin: auto;
}

#thanks{
    font-size: 15px;
    color: white;
}
#mobile{
    font-size: 15px;
    color: white;
}
#email{
    font-size: 15-px;
    color: white;
}
footer div{
    text-align: center;
}



@media only screen and (max-width: 880px)
{
    .list ul{
        display: grid;
        text-align: center;
        padding-left: 0;
        margin-left: -21px;
    }
}